services:

  localstack:
    container_name: localstack
    image: localstack/localstack:3.2
    ports:
      - 4563-4599:4563-4599
      - 8055:8080
    environment:
      - SERVICES=dynamodb,kms
      - DEFAULT_REGION=us-east-1
      - DEBUG=1
      - PERSISTENCE=1
      - DYNAMODB_SHARE_DB=1
    volumes:
      - ./localstack-start.sh:/etc/localstack/init/ready.d/init-aws.sh
      - localstack_data:/var/lib/localstack
      - /var/run/docker.sock:/var/run/docker.sock

  storage-service:
    platform: linux/x86_64
    container_name: storage-service
    build: .
    ports:
      - 8080:8080
    command: mvn spring-boot:run
    environment:
      AWS_ENDPOINT: http://localstack:4566
      AWS_ACCESS_KEY_ID: DUMMY
      AWS_SECRET_ACCESS_KEY: DUMMY
      PAGINATION_KEY_ID: 00000000-0000-0000-0000-000000000001
    depends_on:
      localstack:
        condition: service_started
    develop:
      watch:
        - action: rebuild
          path: ./storage-service/pom.xml
        - action: sync
          path: ./storage-service/src
          target: /app/src

volumes:
  localstack_data: